@model AlmacenZapatos.Inventario

<div class="panel panel-default">
    <div class="panel panel-heading text-center">
        <h1 class="panel-title" style="align-content:center"> <strong>@Model.Nombre</strong> </h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <td style="align-content:center">
                    @Html.DisplayNameFor(model => model.Id)
                </td>
                
                <td>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </td>
                
                <td>
                    @Html.DisplayNameFor(model => model.Lote)
                </td>
                
                <td>
                    @Html.DisplayNameFor(model => model.Merma)
                </td>
                
                <td>
                    @Html.DisplayNameFor(model => model.Modelo)
                </td>
                
                <td>
                    @Html.DisplayNameFor(model => model.Precio)
                </td>
                
                <td>
                    @Html.DisplayName("Inventario Real")
                </td>
               
                <td>
                    @Html.DisplayName("Fecha De Entrada")
                </td>
                
                <td>
                    @Html.DisplayNameFor(model => model.Proveedor)
                </td>
                
            </tr>
            <tr>
                <td>
                    <h3 class="panel-title">@Model.Id</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Descripcion</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Lote</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Merma</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Modelo</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Precio</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Inventario_Real</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Fecha_Entrada</h3>
                </td>
                <td>
                    <h3 class="panel-title">@Model.Proveedor</h3>
                </td>
            </tr>
        </table>
        <div class="col-md-offset-5 col-md-4 col-sm-offset-5 col-sm-4 col-lg-offset-5 col-lg-4"                                                                                                                                                                         >
            <a class="btn btn-success" @Html.ActionLink("Editar", "Actualizar", new { id = Model.Id }) </a>
            <a class="btn btn-danger" @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.Id }) </a>
        </div>      
    </div>
</div>

